[run]
branch = True
#relative_files = True

omit =
    # to be covered elsewhere
    */__peakrdl__.py

[paths]
source =
    ../src/peakrdl_busdecoder/
    */site-packages/*/peakrdl_busdecoder
    */site-packages/peakrdl_busdecoder

[report]
exclude_lines =
    pragma: no cover
    raise RuntimeError
    raise NotImplementedError
    if TYPE_CHECKING:

precision = 1
